<% provide(:title, "Web Project") %>
<h1>Web Project</h1>
<ul>
    <li><%= link_to "Pugs", pugs_path %></li>
    <li><%= link_to "StoryBored", storybored_path %></li>
    <!--<li><%= %></li>-->
    <!--<li><%= %></li>-->
    <!--<li><%= %></li>-->
    <!--<li><%= %></li>-->
    <!--<li><%= %></li>-->
    <!--<li><%= %></li>-->
    <!--<li><%= %></li>-->
    <!--<li><%= %></li>-->
    <!--<li><%= %></li>-->
    <!--<li><%= %></li>-->
</ul>